.wrapper-setchair {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 2rem;
  min-height: 150vh;
  background: #111;

  .setChair-wrapper {
    flex: 1 1 52rem;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;

    .setChair-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 3rem;
      max-width: 100%;
      overflow: auto;
      width: 90%;
      padding: 2rem 2rem 0 2rem;
      border-radius: .3rem;

      &::-webkit-scrollbar {
        background: #333;
        border-radius: 5rem;
        height: 1rem;

      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5rem;
        background: #f69d43;
      }

      .screen-chair {
        flex: 1 1 45rem;
        display: flex;
        flex-direction: column;

        .screen {
          padding: 1rem .5rem;
          font-weight: 600;
          display: flex;
          margin-bottom: 2rem;
          align-items: center;
          text-align: center;
          max-width: 100%;
          width: 100%;
          border-top-right-radius: 50rem;
          border-top-left-radius: 50rem;
          background: #dbdbdb;

          span {
            font-size: 1.3rem;
            margin: auto;
          }
        }

        .entrance {
          position: relative;
          text-transform: none;
          color: #fff;
          font-size: 1.5rem;
          padding: 1rem 0;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 5rem;
            height: .1rem;
            background: #fff;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 5rem;
            height: .1rem;
            background: #fff;
          }
        }

        .chairs {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .row {
            display: flex;
            gap: 1rem;
            align-items: center;

            .column-letter {
              width: 40px;
              font-size: 1.5rem;
              color: #fff;
            }

            .chair {
              width: 5rem;
              height: 5rem;
              font-size: 2rem;
              color: #fff;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;

              &:hover {
                cursor: pointer;
              }

              p {
                font-size: 1rem;
                position: absolute;
                bottom: 0px;
                font-size: 1.1rem;
                color: #149eca;
              }
            }

            .active {
              background: #25b392;

              p {
                color: #fff;
              }
            }
          }
        }

        .cinema-note {
          padding: 1.5rem 1rem;
          display: flex;

          p {
            font-size: 1.4rem;
            text-transform: none;
            margin: auto;

            &:nth-child(1) {
              color: #fff;
            }

            &:nth-child(2) {
              color: #25b392;
            }

            &:nth-child(3) {
              color: #b32525;
            }

            svg {
              padding: .5rem 0;
              margin: auto;
              display: block;

              &:nth-child(1) {
                font-size: 2rem;
                // color: #25b392;
              }

              &:nth-child(3) {
                font-size: 2rem;
              }
            }
          }
        }

      }

      .controll-btn {
        background: #f5b324;
        border: .1rem solid #f69d43;
        border-radius: .5rem;
        display: inline-block;
        margin-bottom: 3rem;

        .btn-ticket {
          margin-left: .5rem;
          font-size: 1.4rem;
          padding: .7rem 1.5rem;
          background: none;
          color: #333;
          border-radius: .3rem;
          text-transform: none;
          margin: auto;
          font-weight: 550;
          width: 100%;

          &:hover {
            background: none;
            color: #fff;
            cursor: pointer;
          }
        }

        &:hover {
          background: none;
          color: #333;
          cursor: pointer;
          transition: .3s linear;
        }
      }
    }
  }

  .additional-components {
    flex: 1 1 12rem;
    width: 100%;

    .showtime-wrapper {
      width: 100%;
      background-size: cover;
      background-position: center;
      display: block;
      position: relative;
      z-index: 1;

      .showtime-container {
        max-width: 50rem;
        width: 100%;
        border-radius: .4rem;
        display: block;
        background: #fff;

        .image-film {
          display: block;
          max-width: 50rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .center {
          margin: auto;
          max-width: 100%;
          z-index: 3;
          padding: 1.5rem 2.4rem;
          border-radius: .5rem;

          h3 {
            color: #333;
          }

          span {
            color: #333;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 0 0 1rem 0;
            font-weight: 600;
          }

          .showtime {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
            gap: 1rem;
            padding: 1.5rem 0;

            .box {
              span {
                font-size: 1.3rem;
              }

              p {
                margin-top: .5rem;
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 600;
              }
            }
          }

          .total-chair {
            display: inline-block;

            span {
              font-size: 1.3rem;

              &:nth-child(1) {
                display: block;
                margin-right: .3rem;
                padding-bottom: 1rem;
                font-weight: 800;
                border-bottom: .3rem dashed #888;
              }

              &:nth-child(2) {
                display: block;
                padding-top: 1rem;
                font-size: 1.6rem;
                font-weight: 800;
                width: 100%;
                line-height: 1.4;
              }
            }
          }
        }

        .actionButtons-checkout {
          display: flex;
          width: 100%;

          a {
            color: #333;
            text-align: center;

            &:nth-child(1) {
              flex: 1 1 43rem;
              padding: 1rem 2.5rem;
              background: #dbdbdb;
              font-size: 1.4rem;
              font-weight: 550;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            &:nth-child(2) {
              flex: 1 1 43rem;
              background: #f5b324;
              padding: 1rem 2.5rem;
              font-size: 1.4rem;
              font-weight: 550;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
          }
        }
      }
    }
  }
}