.screeningrate {
    min-height: 100vh;

    .button-controllers {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            padding: .5rem 2rem;
            border-radius: .3rem;
            background: #4879ea;
            color: #fff;

            &:hover {
                transform: scale(.99);
                box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .3);
            }
        }
    }

    .screeningrate-container {
        margin-top: 2rem;
        background: #555;
        padding: 1rem;

        h1 {
            font-size: 2.5rem;
            color: #d18034;
            margin-left: 1rem;
        }

        .dates-container {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            .date-box {
                padding: 1rem 1.5rem;
                background: #333;
                color: #fff;
                margin: 0 1rem;
                font-size: 1.5rem;
                font-weight: 600;
                border-radius: .5rem;
                border: .1rem solid #f3ea28;
                
                &:hover {
                    cursor: pointer;
                    background: #f3ea28;
                    color: #639;
                }
            }
        }

        .film-boxes-container {
            margin-top: 1rem;

            .film-boxes {
                padding: 1.5rem;

                .wrapper-info {
                    padding: 1.5rem;
                    border-radius: 1rem;
                    background: #64748b;
                    overflow: auto  ;
                    margin-top: 1.5rem;

                    

                    .wrapper-time {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 1.5rem;

                        .timeScreening {
                            margin-top: 1rem;
                            .time {
                                .time-rate {
                                    span {
                                        p {
                                           padding: .8rem 2rem; 
                                           border: .1rem solid #dbdbdb;
                                           color: #fff;
                                           font-size: 1.4rem;
                                           border-radius: .5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}