.wrapper {
    padding: 1.4rem 6%;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    max-width: 100%;
    border-bottom: .1rem solid #dbdbdb;
    background: #222;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);

    .logo {
        font-size: 2.7rem;
        font-weight: 550;
        color: #fff;

        span {
            color: red;
        }
    }

    .navbar {
        display: flex;
        align-items: center;

        a {
             font-size: 1.5rem;
             padding: .5rem .7rem;
             margin-left: 2rem;
             text-transform: none;
 
             &:hover {
                 background: #dbdbdb;
                 color: #333;
                 border-radius: 1rem;
                 cursor: pointer;
             }
             
             i {
                 font-size: 2rem;
             }
        }

        .user-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            img {
                object-fit: cover;
                width: 3.3rem;
                height: 3.3rem;
                border-radius: 5rem;
                margin-left: 1rem;
            }

            .fullname {
                color: #fff;
                font-size: 1.4rem;
            }

            .dropdown {
                position: absolute;
                top: 120%;
                right: 0;
                width: 20rem;
                background: #fff;
                border-radius: .4rem;
                padding: 1rem;

                .btn-info {
                    display: block;
                    color: #333;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    margin-left: 0;
                    text-align: center;
                }

                .logout-btn {
                    display: inline-block;
                    margin: auto;
                    width: 100%;
                    padding: .5rem;
                    background: #5353ec;
                    color: #fff;
                    
                    svg {
                        margin-right: 1rem;
                    }
                }
            }
        }

     }
}