.admin-comboMeal {
    .comboMeal-container {
        padding: .1rem;
        background: #555;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.6rem;

        .images-input {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            margin-bottom: 2rem;

            .box-images {
                padding: 2rem;
                width: 100%;
                border: .1rem dashed #fff;
                text-align: center;
                color: #ccc;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: .5rem;
                font-size: 1.5rem;

                &:hover {
                    cursor: pointer;
                    border: .1rem dashed #f69d43;
                }
            }
        }

        .wrapper-input {
            .detail {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
                gap: 2rem;

                .box-input {
                    span {
                        display: block;
                        padding: .7rem 0;
                    }

                    input {
                        padding: .6rem 1.5rem;
                        background: none;
                        border: .1rem solid rgba(255,255,255, .4);
                        border-radius: .5rem;
                        width: 100%;
                        font-size: 16px;
                        color: #fff;

                        &::placeholder {
                            font-size: 1.4rem;
                            color: #dbdbdb;
                        }
                    }
                }
            }
        }

        .btn-comboMeal {
            display: inline-block;
            margin-top: 2rem;
            padding: .7rem 1.5rem;
            background: #f69d43;
            color: #fff;
            font-size: 1.6rem;
            border-radius: .5rem;
            width: 100%;

            &:hover {
                transform: scale(.99);
                background: none;
                border: .1rem solid #f69d43;
                color: #f69d43;
            }
        }
    }

    .listCombo {
        padding: .1rem;
        background: #555;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.6rem;

        h3 {
            color: #f69d43;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:1rem 3rem 1rem  2rem;
            .image {
                width: 7rem;

                img {
                    width: 100%;
                }
            }

            span {
                &:nth-child(3) {
                    color: #dc9135;
                    font-weight: 550;
                }
            }
        }
    }
}